
li {
  width: 150px;
}

#header {
  padding-top: 3%;
  text-align: center;
  margin-bottom: 8%;
}

#landscape-nav {
  text-align: center;
}

#navigation {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a.menu-button {
  padding-left: 20px;
}

a.inactive {
  color: grey;
}

#submit-form {
  padding-left: 33%;
}

.full-images {
  padding-bottom: 30px;
}

.full-image {
  padding-bottom: 40px;
}
