#main-winter {
  background-image: url("../images/winter1.png")
}

#main-winter:hover {
  background-image: url("../images/winterText.png")
}

#main-spring {
  background-image: url("../images/spring1.png")
}

#main-spring:hover {
  background-image: url("../images/springText.png")
}

#main-fall {
  background-image: url("../images/fall1.png")
}

#main-fall:hover {
  background-image: url("../images/fallText.png")
}

.link-div {
  padding-bottom: 115px;
  padding-right: 519px;
}

.main-links {
  height: 115px;
  width: 519px;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}

.main-nav > div {
  width: 519px;
  margin: auto;
}

li {
  width: 150px;
}

#header {
  padding-top: 3%;
  text-align: center;
  margin-bottom: 8%;
}

#landscape-nav {
  text-align: center;
}

#navigation {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a.menu-button {
  padding-left: 20px;
}

a.inactive {
  color: grey;
}

#submit-form {
  padding-left: 33%;
}

.full-images {
  padding-bottom: 30px;
}

.full-image {
  padding-bottom: 40px;
}
